#users-container{
	.user{
		&.locked{
			text-decoration : line-through;
		}
	}
	margin-top: 40px;
	margin-bottom: 20px;
}

.pagination{
	justify-content: center;
}
//user user-name locked user-status